@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #19a2ae;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, top 50vh left 50vw;
    font-family: "Kumbh Sans", sans-serif;
    transition-duration: 1s;
}

/* CARD CONTAINER */

.card-container {
    min-width: 20.25rem;
    height: 20.25rem;
    position: relative;
    margin-top: -6.25rem;
}

.card-bg-image {
    width: 100%;
    height: 9rem;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14.125rem;
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8.313rem;
    height: 3.063rem;
    margin-top: 1.875rem;
}

.name {
    font-size: 1.125rem;
    font-weight: 700;
}

.name span {
    font-weight: 400;
    color: gray;
}

h2 {
    font-size: 0.875rem;
    font-weight: 400;
    color: gray;
}

.name-box img {
    width: 6rem;
    height: 6rem;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top: 95px;
}

.stat-box {
    width: 20.375rem;
    height: 4.313rem;
    margin-top: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 1.563rem;
}

ul li {
    width: 3.5rem;
    height: 2.75rem;
    text-align: center;
    list-style: none;
    font-size: 1.125rem;
    font-weight: 700;
}

li span {
    font-size: 0.75rem;
    font-weight: 400;
    color: gray;
    letter-spacing: 1.5px;
}

/* FOOTER */

.attribution { 
    width: 80%;
    height: 1.25rem;
    font-size: 0.938rem;
    text-align: center; 
    margin-top: 4.375rem;
}
    
.attribution a {
    margin-left: 0.313rem;
    animation-name: smoothFill;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* MEDIA QUERY FOR TABLET AND DESKTOP MODE */

@media ( min-width: 768px) {
    .canvas {
        background-color: rgb(139, 38, 38);
    }

    .card-container {
        width: 43%;
        max-width: 21.875rem;
    }

    div .card-bg-image {
        background-color: #8b2626;
        background-image: url(./images/bg-pattern-card-red.svg);
    }
}

/* MEDIA QUERY FOR LANDSCAPE MOBILE */

@media (orientation: landscape) and (max-height: 500px) {

  .canvas {
    display: flex;
    justify-content: flex-start;
    background-color: hsl(185, 75%, 39%);
    margin-top: 0.625rem;
  }

  .card-container {
    display: flex;
    min-width: 31.25rem;
    height: 3.125rem;
    margin-top: 1.25rem;
  }

  div .card-bg-image {
    height: 14.125rem;
    background-image: url(./images/bg-pattern-card.svg);
    position: relative; 
    border-radius: 20px 0 0 20px;
  }

  .stat-box {
    margin-top: 0.938rem;
  }

  .card-info {
    border-radius: 0 20px 20px 0;
  }

  .name-box img {
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 0;
    top: 60px;
  }
}

/* SIGNATURE ANIMATION */

@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}