@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*  {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.canvas {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, top 50vh left 50vw;
    font-family: "Kumbh Sans", sans-serif;
    transition-duration: 1s;
}

/* CARD CONTAINER */

.card-container {
    min-width: 324px;
    height: 23.375rem;
    position: relative;
}

.card-bg-image {
    width: 100%;
    height: 9rem;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    border-radius: 20px 20px 0 0;
    transition-duration: 1s;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 14.125rem;
    background-color: #FFF;
    border-radius: 0 0 20px 20px;
}

.name-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 133px;
    height: 49px;
    margin-top: 30px;
}

.name {
    font-size: 18px;
    font-weight: 700;
}

.name span {
    font-weight: 400;
    color: gray;
}

h2 {
    font-size: 14px;
    font-weight: 400;
    color: gray;
}

.name-box img {
    width: 6rem;
    height: 6rem;
    border: 5px solid #FFF;
    border-radius: 50%;
    position: absolute;
    top: 90px;
}

.stat-box {
    width: 326px;
    height: 69px;
    margin-top: 24px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 25px;
}

ul li {
    width: 56px;
    height: 44px;
    text-align: center;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
}

li span {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    letter-spacing: 1.5px;
}

/* FOOTER */

.attribution { 
    width: 80%;
    height: 20px;
    font-size: 15px;
    text-align: center; 
    margin-top: 15px;
}
    
.attribution a {
    margin-left: 5px;
    animation-name: smoothFill;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* MEDIA QUERY */

@media ( min-width: 768px) {
    .canvas {
        transition-duration: 1s;
        background-color: rgb(139, 38, 38);
    }

    .card-container {
        width: 43%;
        max-width: 350px;
    }

    div .card-bg-image {
        transition-duration: 1s;
        background-color: #8b2626;
        background-image: url(./images/bg-pattern-card-red.svg);
    }
}

/* SIGNATURE ANIMATION */

@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}